@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    /*variables colores*/
    --bg:#080808;
    --text:#d9d9d9;
    --text-soft:#8f8f8f;
}
*{
    /*fuente*/
    font-family: "Outfit", sans-serif;
    margin: 0px;
}
nav{
    z-index: 2;
    display: flex;
    justify-content: center;
    #contenedor-nav{
        margin-top: 10px;
        border: 1px transparent;
        border-radius: 8px;
        position:fixed;
        background-color: #0707076b;
        height: 1.5rem;
        width: 80dvw;
        opacity: 90%;
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        padding: 5px;
    }
    
    a{
        text-decoration: none;
        color:var(--text);
        font-size: small;
    }
    ul{
        width: 100dvw;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0%;
    }

    #logo-nav{
        height: 25px;
        width: 95px;
        background-image: url(./public/pixel-logo-horizontal-blanco.svg);
        background-size: cover;
        margin-left: 20px;
    }

}
body{
    background-color: var(--bg);
}

#banner{
    background-image: url(./public/img/img-banner2.jpg);
    background-size: cover;
    height: 100dvh;
    width: 99.2dvw;
    display: flex;
    align-items: center;

    h1{
        font-size: xxx-large;
        color: var(--text);
        font-weight: 900;
    }
    h2{
        color: var(--text-soft);
    }
    p{
        color: var(--text-soft);
        font-size: small;
    }
    #div-banner{
        margin-left: 20rem;
        /* border: solid 1px white; */
    }
}

.contenedor-animacion-sobre-nosotros{
    display: flex;
    justify-content: start;
    #animacion-sobre-nosotros{
        /* border: 1px solid white;  */
        width: 600px;
        height: 500px;
    }
}
