@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    /*variables colores*/
    --bg:#080808;
    --text:#d9d9d9;
    --text-soft:#8f8f8f;
}
*{
    /*fuente*/
    font-family: "Outfit", sans-serif;
    margin: 0px;
    color: var(--text);
    
}
nav{
    z-index: 2;
    display: flex;
    justify-content: center;
    #contenedor-nav{
        margin-top: 10px;
        border: 1px transparent;
        border-radius: 8px;
        position:fixed;
        background-color: #0707076b;
        height: 1.5rem;
        width: 80dvw;
        opacity: 90%;
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        padding: 5px;
    }
    
    a{
        text-decoration: none;
        color:var(--text);
        font-size: small;
    }
    ul{
        width: 100dvw;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0%;
    }

    #logo-nav{
        height: 25px;
        width: 95px;
        background-image: url(./public/pixel-logo-horizontal-blanco.svg);
        background-size: cover;
        margin-left: 20px;
    }

}
body{
    background-color: var(--bg);
}
/* main{
    margin-inline: 100px;
} */
.titulos-secciones{
    font-size: xx-large;
    font-weight: 700;
}
#banner{
    background-image: url(./public/img/img-banner2.jpg);
    background-size: cover;
    height: 100dvh;
    width: 99.2dvw;
    display: flex;
    align-items: center;

    h1{
        font-size: xxx-large;
        color: var(--text);
        font-weight: 900;
    }
    h2{
        color: var(--text-soft);
    }
    p{
        color: var(--text-soft);
        font-size: small;
    }
    #div-banner{
        margin-left: 20rem;
        /* border: solid 1px white; */
    }
}
.section-sobre-nosotros{
    margin-inline: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    .contenedor-animacion-sobre-nosotros{
        display: flex;
        justify-content: start;
        #animacion-sobre-nosotros{
            /* border: 1px solid white;  */
            width: 40dvw;
            height: 500px;
            z-index: -1;
        }
    }
    .contenedor-info-sobre-nosotros{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #frase-destacada{
        margin-top: 20px;
        font-style: italic;
    }
    #titulo-sobre-nosotros{
        margin-bottom: 50px;
    }
}
.section-servicios-pastillas{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 20px;
    .div-servicios-pastillas{
        margin-top: 1rem;
        margin-inline: 0px;
        display: flex;
        gap: 10px;
    }
    article{
        height: 230px;
        width: 200px;
        padding: 10px;
        p{
            top: 0%;
            color: var(--text);
            font-size: small;
            font-weight: 200;
            z-index: 2;
            transition: all 0.5s;
            opacity: 50%;
        }
        
        h4{
            color: var(--text);
            z-index: 2;
        }
    }
    article:hover{
        p{
            opacity: 100%;
           transform: translateY(3px);
        }
    }
    .imagenes-servicios{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        opacity: 40%;
        transition: all 0.5s;
    }
    .imagenes-servicios:hover{
        transform: scale(1.05);
        
    }
    .div-servicios-pastillas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .div-foto-servicios{
        height: 150px;
        width: 200px;
        overflow: hidden;
        /* border: 1px solid var(--text); */
        padding: 10px;
        background-color: var(--bg);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        position: relative;
    }
}